body{
    font-family: Arial, Verdana, sans-serif;
    color: beige;
    font-size: 10pt;
    margin: 0px;
}
main{
    display: grid;
    grid-template-areas: "h h h h"
                        "n n n n"
                        "ar ar ar ar"
                        "f f f f" ;
    max-width: 900px;
    margin: auto;
    width: 90%;
    background-color: rgb(255, 255,255);
}

main, header, nav, footer, article,.container,.megismer,aside{
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 5px;
}
header{
    grid-area: h;
    background-color: #00BFFF;
    background: cover;
    padding-top: 130px;
    text-align: center;
    height: 300px;
    text-transform: uppercase;
}
nav{
    grid-area: n;
    background-color: #0088CC;
}
nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

nav li{
    list-style: none;
}
nav li:hover{
    background-color: #f08800;
    border-radius: 5px;
}
nav a{
    text-decoration: none;
    color: beige;
}
article{
    grid-area: ar;
    text-align: justify;
    margin: auto;
    display: grid;
    grid-template-areas:"m m m as " ;
    margin-bottom: 10px;
}
 aside{
     grid-area: as;
     background-color: #00BFFF;
     border:1px solid #00BFFF;
}

footer{
    grid-area: f;
    color: beige;
    background-color: #00BFFF;
    text-align: center;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.container img{
    border:1px solid #00BFFF;
    border-radius: 3px;
    margin: 5px;
    float: middle;
}
.megismer{
    background-color: #00BFFF;
    grid-area: m;
    padding-right: 20px;
    color: black;
}
.megismer li{
    list-style: square;
}
@media screen and (max-width: 700px) {
    nav ul{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    article{
        grid-area: ar;
        text-align: justify;
        margin: auto;
        display: grid;
        grid-template-areas:"m"
                            "as" ;
        margin-bottom: 10px;
    }
}
